/* font-family: "Roboto", sans-serif; */
/* font-family: "Raleway", sans-serif; */
* {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
h1 {
  margin-bottom: 48px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ol,
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-logo {
  padding: 24px 0;
}
.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
}
.logo-part {
  color: #2e2f42;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
}
.contacts {
  font-style: normal;
}
.contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
.page-footer {
  background-color: #2e2f42;
}
.p-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-logo .logo-part-footer {
  color: #f4f4fd;
}

.section-one {
  background-color: #2e2f42;
  padding: 188px 0;
}
.header-one {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.button-section-one {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  /* часто ще потрібно */
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-section-one:hover,
.button-section-one:focus {
  background-color: #404bbf;
}
.section-three {
  background-color: #f4f4fd;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.list-item-sec-three {
  background-color: #fff;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/* .container { 
  max-width; 
  padding-left;  
  padding-right;  
  margin-left;  
  margin-right;  
} */

/* homework 3 */

.container-header {
  display: flex;
  align-items: center; /* по центру по высоте */
  justify-content: space-between; /* nav слева, contacts справа */
}
.nav {
  display: flex;
  align-items: center;
  gap: 76px; /* расстояние logo -> menu (как в макете) */
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.contacts {
  font-style: normal; /* address по умолчанию курсив */
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-section-two {
  display: flex;
  gap: 24px;
}
.list-section-two > li {
  width: calc((100% - 72px) / 4);
}
.sec-two {
  margin-bottom: 8px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-list > li {
  width: calc((100% - 72px) / 4);
}

.text-team {
  display: flex;
  flex-direction: column;
  padding: 32px 16px 32px 16px;
  gap: 8px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px; /* вертикальний 48, горизонтальний 24 (часто так) */
}
.text-portfolio {
  padding: 32px 16px 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.container-footer {
  padding-top: 0px;
  padding-bottom: 0px;
}
.container {
  max-width: 1158px; /* ширина из макета */
  margin: 0 auto; /* центрирует по горизонтали */
  padding: 0 15px; /* чтобы контент не прилипал к краям */
}
.section {
  padding: 120px 0;
}
.page-header {
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
}
.section-one .container {
  display: flex;
  flex-direction: column;
  align-items: center; /* вот это центрирует кнопку и заголовок */
}
.section-one {
  max-width: 1440px;
  margin: 0 auto;

  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/people-office-1.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2e2f42; /* на случай если картинка не загрузится */
}

.header-one {
  max-width: 496px;
}
.header-logo {
  display: block;
  padding: 24px 0;
}
.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.p-footer {
  max-width: 264px;
  margin-top: 16px;
}
.list-item-sec-three {
  border-radius: 0 0 4px 4px;
  overflow: hidden; /* щоб фото/фон не вилізали за радіус */
}
.portfolio-card {
  width: calc((100% - 48px) / 3); /* 2 gaps по 24 = 48 */
}
.features-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 112px;
  margin-bottom: 8px;

  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}

.features-icon {
  fill: #2e2f42;
}
.our-team-box-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}
.our-team-icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.our-team-icon-link {
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-icon {
  fill: #f4f4fd;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-icon-link:hover,
.our-team-icon-link:focus {
  background-color: #404bbf;
}

.our-team-icon-case {
  width: 40px;
  height: 40px;
}
.container-footer {
  display: flex;
  align-items: baseline;
  gap: 120px; /* расстояние между блоками */
}
.footer-social-title {
  margin-bottom: 16px;
  font-weight: 500;
  color: #ffffff;
}

.footer-social-icon {
  fill: #f4f4fd;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

/* НЕАКТИВНОЕ состояние */
.footer-social-link {
  width: 40px;
  height: 40px;

  display: flex;

  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: #4d5ae5; /* чистый пурпур */

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list {
  display: flex;
  gap: 16px;
}

.nav-link {
  position: relative;
  display: inline-block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  color: #404bbf;
}

.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}
/* overlay */
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: #4d5ae5;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover .portfolio-overlay,
.portfolio-card:focus-within .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay p {
  color: #f4f4fd;
  padding: 40px 32px;
}
.portfolio-card {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover,
.portfolio-card:focus-within {
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
